.footer {
    padding: 32px 80px;
    display: flex;
    justify-content: space-between;
}

.footer__love {
    font-weight: 500;
    font-size: 14px;
}

.footer__credits {
    font-weight: 500;
    font-size: 14px;
    opacity: 0.5;
}

.footer__credits__link {
    text-decoration: underline;
}