:root {
    --border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

* {
    box-sizing: border-box;
    font-family: 'Inter';
    color: #fff;
}

body {
    background: #130125;
    margin: 0;
}

img {
    border: 4px solid #FD5A14;
}

.scroll {
    transition: all 1s;
    position: fixed;
    padding: 5px;
    top: 80%;
    right: 20px;
    background-color: #FD5A14;
    border-radius: 100px;
    border: none;
    opacity: 0;
}

.scroll_active {
    cursor: pointer;
    opacity: 1;
}

.scroll_active:hover {
    background-color: #a700f5;
}

.navigation {
    width: 20px;
    height: 20px;
}

.btn {
    font-family: 'Inter';
    font-size: 18px;
    width: 200px;
    height: 56px;
    background-color: #FD5A14;
}

.btn:hover {
    background-color: #a700f5;
    transition: 0.5s all;
}

.btn_link {
    text-decoration: none;
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-top: 13px;
}

